In [11]:
# Import necessary libraries
import numpy as np
import pandas as pd

## There are 33 features and 1,761,936 observations in this data set

In [12]:
###*************************************** Clean Data *******************************************************************###
health = pd.read_csv("Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv")
health.head(5)

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Less than high school,EDU,EDUHS
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,High school graduate,EDU,EDUHSGRAD

In [40]:
health.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'LocationID', 'StratificationCategory1',
       'Stratification1', 'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

## Is the Data Useable?
### Is there appropriate representation?

In [38]:
### By State 
states = list(set(list(health['LocationDesc'])))

# has uniformity (exception to Puerto Rico, Guam, and Virgin Islands)
health.LocationDesc.value_counts()

Delaware                1008
Tennessee               1008
Oregon                  1008
Florida                 1008
Montana                 1008
North Dakota            1008
Wyoming                 1008
South Carolina          1008
Arizona                 1008
New York                1008
Michigan                1008
New Mexico              1008
Rhode Island            1008
Louisiana               1008
Texas                   1008
Arkansas                1008
Minnesota               1008
Maine                   1008
Hawaii                  1008
Utah                    1008
Wisconsin               1008
District of Columbia    1008
Indiana                 1008
Virginia                1008
Georgia                 1008
Illinois                1008
Kentucky                1008
North Carolina          1008
Iowa                    1008
Nevada                  1008
New Hampshire           1008
Idaho                   1008
Oklahoma                1008
Missouri                1008
Connecticut             1008
Alaska                  1008
Ohio                    1008
Vermont                 1008
Nebraska                1008
Maryland                1008
Washington              1008
South Dakota            1008
Massachusetts           1008
Colorado                1008
Pennsylvania            1008
Kansas                  1008
Mississippi             1008
New Jersey              1008
National                1008
West Virginia           1008
California              1008
Alabama                 1004
Puerto Rico              476
Guam                     420
Virgin Islands            84
Name: LocationDesc, dtype: int64

In [60]:
### By Race/Ethnicity
health = health.rename(columns = {'Race/Ethnicity':'race'})
racial = list(set(list(health['race'])))
racial

# perfect uniformity
health.race.value_counts()

American Indian/Alaska Native    1907
Non-Hispanic White               1907
Hispanic                         1907
Hawaiian/Pacific Islander        1907
Non-Hispanic Black               1907
Other                            1907
Asian                            1907
2 or more races                  1907
Name: race, dtype: int64

In [61]:
### By Gender
sex = list(set(list(health['Gender'])))
sex

# perfect uniformity
health.Gender.value_counts()

Male      1907
Female    1907
Name: Gender, dtype: int64

In [63]:
### Age
health = health.rename(columns = {'Age(years)':'age'})
years = list(set(list(health['age'])))
years

# uniformity
health.age.value_counts()

45 - 54        1907
35 - 44        1907
65 or older    1906
55 - 64        1906
25 - 34        1906
18 - 24        1906
Name: age, dtype: int64

In [65]:
### Income
money = list(set(list(health['Income'])))
money

# perfect uniformity
health.Income.value_counts()

$75,000 or greater    1907
$15,000 - $24,999     1907
$50,000 - $74,999     1907
Less than $15,000     1907
$35,000 - $49,999     1907
Data not reported     1907
$25,000 - $34,999     1907
Name: Income, dtype: int64